node_modules/
.vs/
.eslintcache
.env*
.VSCodeCounter/
.history/
cookiesKeys.json
jwks.json
frontend/dist/
Deployment/setupGoogleAccount/secrets/
dist/
.idea/
**/componentsDiscovery/components.js

# macOS
.DS_Store
